<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>Список Товаров</div>

    {{#messages}}
    <div>
        <b>{{title}}</b>
        <span>{{description_product}}</span>
        <i>{{price}}</i>
    </div>
    {{/messages}}
</body>
</html>